@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
    #dropdown_menu {
      @apply flex flex-row justify-around lg:w-full md:w-1/5 lg:gap-4 md:gap-0 h-5 relative z-10;
    }
    .top_nav_li{
      @apply bg-white relative z-10 hover:bg-slate-200 flex flex-col w-40;
    }
    ul{
      @apply drop-shadow-md bg-white h-4 w-24 text-center;
    }
    a{
      @apply lg:m-2 md:m-0 text-center;
    }
    span{
      @apply text-center;
    }
    .wp-block-heading{
      @apply text-3xl;
    }
  }

li.menu-item-has-children{
  display: flex;
  flex-direction: column;
  position:relative;
  z-index: 100;
}

li.menu-item-has-children:hover > ul{
    display: flex;
    visibility: visible;
    flex-direction: column;
    position:relative;
    z-index: 100;
}

li.menu-item-has-children > ul{
    visibility: hidden;
    position:relative;
    z-index: 100;
}